.custom-link-container {
    
    width: inherit;
    
    height: 1.6rem;
   
    
    font-size: 0.95rem;
    
    color: rgb(80, 140, 209);

    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    
    border: none;

    
    cursor: pointer;

    outline: none;

    align-items: center;
  
    &:hover {
      
      
      border-bottom: 0.15rem solid rgb(27, 28, 29);
    }
  
    
  }